// Used for click event
.about {
    .container {
        $color-h-window: rgb(0, 0, 0);
        $padding-tb-window: 4.1%;
        $padding-side-window: $padding-tb-window / 1.7;
        $height-window: 80vh;
        $hovered-opacity-window: .93;
        $hovered-height: 88vh;
        $hovered-width: 55%;
        $hovered-top: $padding-tb-window+2%;

        position: relative;
        height: 100vh;
        max-width: unset;
        width: 100vw;
        margin: 0;
        padding: 0;
        background: rgb(225, 225, 225);

        // // background: url("../images/4.jpg") no-repeat center fixed;
        // // background: url("https://cdn.discordapp.com/attachments/759968307738181653/822710501795954738/mmexport1579951996076.jpg") no-repeat center fixed;
        // background: url("../images/bg-img-desktop-1.jpg") no-repeat center fixed;
        // box-shadow: inset 0 0 100vw 100vh #1e162950;
        // background-size: cover !important; // TODO: Uncomment this

        //         @media screen and (max-width: $screen_xs) {
        //             background: url("../images/bg-img-mobile-1.jpg") no-repeat center fixed;
        //         }
        //
        //         @media all and (max-width: $screen_sm) {
        //             flex-direction: column;
        //
        //             &.about-section {
        //                 height: auto;
        //             }
        //         }
        .window {
            padding: 1.4rem 1.6rem;
            width: 50%;
            height: $height-window;
            position: absolute;
            top: $padding-tb-window + 6%;
            transition: all 1.2s ease-in-out;
            // transition: left 3s ease-in-out,
            //     top 1s ease-in-out;
            border-radius: 1rem;
            border: 1px solid rgb(206, 206, 206);
            box-shadow: 2px 2px 10px rgba(34, 34, 34, 0.3);

            p,
            li {
                color: #000;
                font-weight: 400;
                font-size: 1.6rem;
                // line-height: 1.6;
                margin: 0 0 1rem;
            }

            .mac-bar {
                margin: 0 0 1.4rem;
                display: flex;
                align-items: center;

                .ryg-container {
                    display: flex;
                    gap: 1rem;

                    .mb {
                        height: 1rem;
                        width: 1rem;
                        border-radius: 100%;
                    }


                    .r {
                        background-color: #FF605C;
                    }

                    .y {
                        background-color: #FFBD44;
                    }

                    .g {
                        background-color: #00CA4E;
                    }
                }

                .window-title {
                    margin: 0;
                    font-size: 1.4rem;
                    line-height: 1;
                    width: 100%;
                    text-align: center;
                }
            }

            .rm-body,
            .terminal-body {
                overflow-y: auto;
            }

            &.window-left {
                $primary-color: #4AF626;

                left: -50%;
                background-color: black;
                opacity: .6;
                cursor: text;
                color: $primary-color;
                font-family: monospace;

                &:hover {
                    top: $hovered-top;
                    height: $hovered-height;
                    width: $hovered-width;
                    opacity: $hovered-opacity-window;
                    z-index: 2;

                    +.window-right {
                        z-index: 1;
                    }
                }

                &.anim-from-left {
                    left: $padding-side-window;
                }

                .terminal-body {
                    height: calc(100% - 40px);
                    // overflow-y: scroll;

                    .terminal-output {
                        padding: 1rem 0 0;

                        .command-line {
                            display: flex;
                            align-items: flex-end;
                            align-items: center;
                            font-size: 1.6rem;

                            .prompt {
                                font-size: 1.4rem;
                                font-weight: 300;
                                margin-right: 10px;
                                color: rgb(224, 212, 98);
                            }

                            // .command-output-result {
                            //     color: $primary-color;
                            // }
                        }
                    }
                }

                .terminal-input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    color: $primary-color;
                    font-size: 16px;
                    font-family: monospace;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &.window-right {
                top: $padding-tb-window +5%;
                height: $height-window + 2vh;
                right: $padding-side-window;
                background-color: rgb(199, 199, 199);
                opacity: .8;

                &:hover {
                    top: $hovered-top;
                    height: $hovered-height;
                    width: $hovered-width;
                    opacity: $hovered-opacity-window;
                }

                h1,
                h2 {
                    color: $color-h-window;
                    margin: 0 0 .8rem;
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                ul {
                    margin: 0 0 0 2rem;
                }

                .rm-body {
                    height: 94%;
                }
            }
        }
    }
}


// TODO: Delete them
.about-details {
    // flex: 1;

    .about-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 6rem;
        color: $theme-color;

        h1 {
            z-index: -1;
            font-size: 28rem;
            /* Neumorphism Theme */
            // TODO:  make the color like the curse
            color: $theme-h1-color;

            // https://stackoverflow.com/questions/58133329/how-to-use-css-backdrop-filter-on-text
            // backdrop-filter: grayscale(1);

            @media all and (max-width: $screen_md_1) {
                font-size: 8rem;
            }
        }

        h6 {
            z-index: 1 !important;
            font-family: monospace;
            color: $theme-font-color;
            font-size: 4rem;
            font-weight: 300;
            margin-top: .45rem;

            @media all and (max-width: $screen_md_2) {
                font-size: 3rem;
                margin-top: .3rem;
            }
        }
    }

    // TODO: NEED TO DOUBLE CHECK
    @media all and (max-width: $screen_md_2) {
        .nav-list {
            flex-direction: row;
        }

        li {
            margin: 0 2rem;
        }
    }

    p {
        text-align: justify;
        font-weight: 300;

        @media all and (max-width: $screen_sm) {
            padding: 0 2rem;
            line-height: 1.6;
            padding: 0 auto;
        }
    }

    /* Green Theme */
    /* .about-social-media img {
    margin: 60% 1rem 0 1rem;
    width: 5rem;
    } */

    .about-social-media {

        i {
            font-size: 3rem;
            transition: color .2s;
            margin: 60% 1rem 0 1rem;
            opacity: .6;
            color: $media-icon-color;

            // /*  Neumorphism Theme */
            // box-shadow: $neumorphism-box-shadow;

            @media all and (max-width: $screen_sm) {
                /* margin-top: 100%; */
                margin: 100% 0 0 0;
                /* width: 4rem; */
            }
        }

        i:hover {
            opacity: 1;
            transition: all 0.7s ease-in-out;
        }
    }

}
