.experience {
    height: 100vh;
    background-color: #000;

    //     @media only screen and (min-width: $screen_md_2) {
    //         .section-heading {
    //             h1 {
    //                 font-size: 10rem;
    //                 color: $theme-h1-color;
    //             }
    //
    //             h6 {
    //                 display: none;
    //             }
    //         }
    //     }

    .section-heading {
        display: none;
    }

    .container {
        // border: 1px solid white;

        .timeline-container {
            margin: 0 0 8rem 22rem;
            height: 100vh;
            border-left: 3px solid $theme-color;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media all and (max-width: $screen_sm) {
                padding: 0;
                margin: 0 0 0 12rem;
            }

            .date {
                position: relative;
                text-align: left;
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, .3);

                //             @media all and (max-width: $screen_md_2) {
                //                 margin: 0 0 0 auto;
                //             }
                //
                //             @media all and (max-width: $screen_sm) {
                //                 padding: 0 auto;
                //                 margin: 0 auto;
                //             }

                &::before,
                &::after {
                    position: absolute;
                    display: block;
                    top: 50%;
                }

                &::before {
                    content: attr(data-date);
                    text-align: right;
                    width: 20rem;
                    min-width: 12rem;
                    font-size: 2rem;
                    transform: translate(-25rem, -70%);

                    @media all and (max-width: $screen_md_1) {
                        transform: translate(-140%, -70%);
                    }

                    @media all and (max-width: $screen_md_2) {
                        transform: translate(-22rem, -100%);
                    }

                    @media all and (max-width: $screen_sm) {
                        font-size: 1.6rem;
                        transform: translate(-19rem, -110%);
                    }
                }

                &::after {
                    content: '';
                    height: 1.5rem;
                    width: 1.5rem;
                    transform: translate(-65%, -80%);
                    background-color: $theme-color;

                    @media all and (max-width: $screen_md_1) {
                        transform: translate(-140%, -70%);
                    }

                    @media all and (max-width: $screen_md_2) {
                        transform: translate(-355%, -110%);
                    }

                    @media all and (max-width: $screen_sm) {
                        /* transform: translateX(-355%);  */
                    }
                }

                h1 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-bottom: 0.3rem;
                    opacity: .3;
                }

                p,
                h1 {
                    transform: translateX(2.6rem);

                    @media all and (max-width: $screen_md_1) {
                        transform: translateX(1.2rem);
                    }

                    @media all and (max-width: $screen_md_2) {
                        transform: translateX(0);
                        width: 95%;
                    }

                    @media all and (max-width: $screen_sm) {
                        transform: translateX(-2.4rem);
                    }
                }

                p {
                    @media all and (max-width: $screen_sm) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
