/*Start Specialisation*/
.specialisation {
    // ...

    @media only screen and (max-width: $screen_md_1) {
        height: fit-content;
    }

    // TODO: WIP THE NEW DESIGN
    @media only screen and (min-width: $screen_md_2) {
        overflow: hidden;

        .section-heading {
            position: absolute;
            user-select: none;
            z-index: -1;

            h1 {
                font-size: 28rem;
                color: $theme-h1-color;
                transform: translate(.6em, -1em);

                &::after {
                    content: "specialisation";
                    position: absolute;
                    // Using vh as the bottom one might
                    // mess up if the screen height changes
                    transform: translate(0, 97.5vh);
                    // transform: translate(0, 3.9em);
                    left: -3em;
                }
            }

            h6 {
                display: none;
            }
        }
    }

    // TODO: WIP THE NEW DESIGN
    @media only screen and (min-width: $screen_md_2) {
        .skills-container {
            // ...
            height: 100vh;
            transform: translate(0, 30vh);
        }
    }

    // General classes
    .icon-container {
        width: 14rem;
        height: 14rem;
        border: 2px solid $theme-color;
        margin-bottom: 2rem;
        display: flex;
        transform: rotate(0deg);
        box-shadow:
            0px 0px 22px 0px $theme-light-color;

        @media all and (max-width: $screen_md_2) {
            font-size: 3.5rem;
        }

        i {
            position: relative;
            color: $theme-light-color;
            font-size: 5rem;
            margin: auto;

            @media all and (max-width: $screen_sm) {
                font-size: 4.5rem;
            }
        }

        &::after {
            position: absolute;
            content: '';
            width: 13.1rem;
            height: 13.1rem;
            border: 2px solid $theme-color;
            display: flex;
            transform: rotate(45deg);
            box-shadow:
                0px 0px 22px 0px $theme-light-color;
            opacity: 0.8;
        }
    }

    .my-skills {
        // margin-top: 10rem;

        /* https://hankchizljaw.com/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/ */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3rem;
        text-align: center;

        .skill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            h1 {
                font-size: 2rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 4rem -2px 2rem 0;
                color: $theme-light-color;
            }
        }
    }
}

/*End Specialisation*/
