/*Start global*/
/* https://stackoverflow.com/questions/3468154/what-is-webkit-and-how-is-it-related-to-css */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    color: var(--third-color);
    background-color: var(--pri-color);
}
:root {
    /* Green Theme */
    /* --background: 
        linear-gradient(45deg, rgb(10, 67, 21), #318225, #aad737, #d2d737);  */
        /* rgb(8, 49, 15) */
    /* --pri-color: rgb(196, 251, 169);  */
    /* #C4FBA9 */
    /* --sec-color: #46763e; */
    /* --third-color: #102128; */
    /* --main-p-color: #ddfff8; */
    
    /* Neumorphism Theme */
    --pri-color: rgb(255, 255, 255);
    --sec-color: #A8CABA;
    --third-color: #44415d;
    --main-p-color: #ddfff8;    
    --background: linear-gradient(0deg, var(--sec-color), var(--third-color)) no-repeat center fixed;
    --mobile-bar-color: linear-gradient(45deg, var(--third-color), var(--sec-color), var(--pri-color));
    --mobile-bar-bg: linear-gradient(45deg, var(--third-color), var(--sec-color));
}
html {
    font-size: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Overpass Mono', monospace;
    font-family: 'Radley', serif;
    font-family: 'K2D', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Mono', monospace;
    font-family: 'Heebo', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Philosopher', sans-serif; */
    color: #eee;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    width: 100%;
    height: 100vh;
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */

    /*  Neumorphism Theme */
    background: var(--background);
    background-size: cover;
    /* background-color: #131218; */

    transition: all 1s ease-in-out;
}
section {
    padding: 6rem 0;
}
.about-section {
    height: 100vh;
}
/* all links */
a {
    text-decoration: none;
    color: var(--pri-color);
}
/* all p/fonts */
p {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.6;
    word-spacing: 0.2rem;
    letter-spacing: 1px;
    color: var(--main-p-color);
    /* font-family: 'Lato', sans-serif; */
}
/* all image */
img {
    width: 100%; 
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* width */
::-webkit-scrollbar {
    /* display: none; */
    width: .2rem;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--pri-color); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--sec-color); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--third-color); 
}
.preload {
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    transition: all 1s ease-in-out;
}
.preload-top {
    top: 0; 
    height: 50%;
    background-color: var(--third-color);
    width: 100vw;
}
.preload-bot {
    bottom: 0; 
    height: 50%;
    background-color: var(--third-color);
    width: 100vw;
}
.moveup {
    transform: translateY(-100%);
    transition: all .6s ease-in-out;
}
.movedown {
    transform: translateY(100%);
    transition: all .6s ease-in-out;
}
.enablescroll {
    overflow-y: visible;
}
#svg-loading {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    -webkit-transform: translate(-50%, -47%);
    -moz-transform: translate(-50%, -47%);
    -ms-transform: translate(-50%, -47%);
    -o-transform: translate(-50%, -47%);
}
.loading-leave { 
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: #ffffff20;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%; 
    top: 37%;
    left: 48%;
    transform: translate(-50%, -100%);
	-webkit-animation: preload-anim 2s linear infinite alternate;
	        animation: preload-anim 2s linear infinite alternate;
}
#svg-loading path:nth-child(1) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(2) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(3) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(4) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(5) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(6) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
#svg-loading path:nth-child(7) {
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line-anime 2s ease forwards .2s;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
}
.loading-finish {
    opacity: 0;
    transition: all 0s ease-in-out;
}
/*End global*/

/*Start reusable*/
.container {
    width: 100%;
    max-width: 80vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading {
    text-align: center;
    margin-bottom: 10rem;

    /*  Neumorphism Theme */
    padding: 3rem 1rem 4rem 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 00px 30px -5px rgba(0,0,0,0.5);
}
.section-heading h1 {
    font-size: 3.5rem;
    color: var(--pri-color);
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 0.8rem; 
    /* font-family: 'Lora', serif; */
    letter-spacing: 0.2rem;
}
.section-heading h6::before,
.section-heading h6::after 
{
    content: '';
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .6);
}
.section-heading h6::before {
    top: -0.2rem;
    width: 16rem;
    height: 2px;
    border-radius: 0.8rem;
}
.section-heading h6::after {
    bottom: -.7rem;
    width: 8rem;
    height: 2px;
    border-radius: 0.8rem;
}
.section-heading h6 {
    /* margin-top: -0.1em; */
    transform: translateY(-30%);
    font-size: 1.6rem;
    font-weight: 300;  
    color: var(--main-p-color);
    letter-spacing: 1px;
}
.has-margin-right {
    margin-right: 5rem;
    text-align: right;
}
/*End reusable*/


/*Start header*/
header {
    width: 100%;
    height: 100vh;
}
/* .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100vw;
    z-index: 900;
    background-color: var(--third-color); */
    /* border-bottom-left-radius: 100%; */
    /* transition: all 800ms cubic-bezier(1, 0, 0, 1);
    opacity: 0;
} */
.nav-list,
.nav-link-container {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.nav-link-container {
    transform: translateX(.46%);
}
.nav-list p.designedby {
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    display: none;
}
/* also for contact icon */
li {
    margin: 0 .5%;   
}
.top-nav-list {
    display: inline-block;
}
.nav-link {
    /* font-family: monospace; */
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.4em;
    padding: .6rem 2rem;
    color: aliceblue;
}

/* animation when hovering nav link */
/* .nav-link::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1rem;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
} */
.nav-link:hover, 
.nav-link:focus {
    /* background: var(--background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    display: inline;
    /* text-shadow: -2px 1.5px 2px #000000; */
    /*  Neumorphism Theme */
    text-shadow: 
        var(--pri-color) 0px 0px 1rem;

    /* browser support */
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* .nav-link:hover .nav-link::after {
    opacity: 0;
} */

.top-nav.open {
    right: 0;
    opacity: 1;
    border-radius: initial;
}
.menu-toggler {
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* cursor: pointer; */
    z-index: 999;
    transition: transform 500ms ease-out;
}
.menu-toggler.open {
    transform: rotate(-270deg);
}
.bar {
    background: var(--mobile-bar-color);
    width: 100%;
    height: 3px;
    border-radius: .8rem;
    -webkit-box-shadow: 
        0px 0px 12px 0px var(--third-color);
    -moz-box-shadow: 
        0px 0px 12px 0px  var(--third-color);
    box-shadow: 
        0px 0px 12px 0px  var(--third-color);
}
.bar.half {
    width: 100%;
}
.bar.start {
    width: 60%;
    align-self: flex-end;
    transform-origin: right;
    
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start {
    opacity: 0;
    transition: ease-in-out 650ms;
    transform: rotate(-450deg) translateX(0rem);
}
.open .bar.middle {
    transform: rotate(-630deg);
    /* opacity: 0;
    transition: ease-in-out 650ms; */
}
.bar.end {
    width: 60%;
    align-self: flex-end;
    transform-origin: right;

    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end {
    opacity: 0;
    transition: ease-in-out 650ms;
    transform: rotate(-450deg) translateX(0rem);
}

/* Start navigation bar  */
.hide {
    opacity: 0; 
    /* cant use hidden cuz will affect the mobile view  */
    /* overflow: hidden; */

    /* browser support */
    /* -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; */
}
.nav-logo {
    text-align: center;
    letter-spacing: .6rem;
    font-size: 2rem;
    height: 50%;
    padding-bottom: 1rem;
}
.nav-logo a {
    /* need to find a better font fam */
    /* font-family: monospace; */
    font-weight: 100;
    color: aliceblue;;
}
.top-nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    padding: 1.2rem 0;
    /* right: -100vw; */
    z-index: 900;
    /* browser support */
    -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 800ms cubic-bezier(1, 0, 0, 1);
    -o-transition: all 800ms cubic-bezier(1, 0, 0, 1);
    transition: all 800ms cubic-bezier(1, 0, 0, 1);

    /* for debug */
    /* background-color: rgba(245, 254, 241, 0.1); */
}
.startscrolling {
    /* top: -3rem; */
    transform: translateY(-50%);
    background-color: #10212820; 
    /* browser support */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.scrollup {
    /* height: 6vh; */
    background-color: #10212888;
    /* browser support */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#_progress {
    transform: translateY(7.9rem);
    --scroll: 0%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6) var(--scroll), /* in js */
      transparent 0
    );
    position: fixed;
    width: 100%;
    height: 1.5px;
    top: 0px;
    z-index: 100;
  }

/* End navigation bar */


.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text .logo {
    width: 80%;
    user-select: none;
    margin: 0;
    position: absolute;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -55%); 
}
.landing-text h6 {
    font-family: monospace;
    transform: translateY(18rem);
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--background);
}

/* action buttons */
.landing-action {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(700%);
    /* opacity: .8; */
}
.action-btn {
    height: 3rem;
    width: 8%;
    /* border: 1px solid var(--pri-color); */
    border-radius: 3rem;
    margin: .4% 1.4%;

    /* Neumorphism */
    /* -webkit-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    box-shadow: 
        0px 0px 10px 0px var(--pri-color); */
    
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.5);
}
.action-btn p {
    transform: translateY(.34rem);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: var(--pri-color);
}
/* from https://codepen.io/kay8/pen/azKbjN */
/* github button */
.bg-slide-to-right {
    background: linear-gradient(to right, var(--third-color) 10%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-in-out;
}
.bg-slide-to-right:hover {
    background-position: left bottom;
}

.bg-slide-to-right:hover .action-text-1 {
    z-index: 1;
    color: var(--pri-color);
    transition: all .1s ease-in-out;
}

/* explore button */ 
.explore-btn:hover ~ .scroll-down-anim {
    opacity: .6;
}
.explore-btn:hover {
    /* might add some anim here */
}
.scroll-down-anim {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3rem;
    height: 5rem;
    transform: translate(-1.5rem, 8rem);
    border: 2px solid var(--third-color);
    border-radius: 2rem;
    box-sizing: border-box;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.scroll-down-anim::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 50%;
    width: .6rem;
    height: .6rem;
    margin-left: -.3rem;
    background-color: var(--third-color);
    border-radius: 100%;
    box-sizing: border-box;

    -webkit-animation: mouse-scroll-anim 2s infinite;
    animation: mouse-scroll-anim 2s infinite;
}

/* portfolio button */
.bg-slide-to-left {
    background: linear-gradient(to left, var(--third-color) 10%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-in-out;
}
.bg-slide-to-left:hover {
    background-position: right bottom;
}

.bg-slide-to-left:hover .action-text-3 {
    z-index: 1;
    color: var(--pri-color);
    transition: all .3s ease-in-out;
}


/* for javascript */
.main-h6 {
    opacity: 0;
}
.show {
    opacity: 1;
}
span {
    opacity: 0.6;
    transition: all .3s ease;
    color: var(--sec-color);
}
.main-h6-anim {
    opacity: 1;
    color: var(--main-p-color);
}
.leaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.leaves li {
    position: absolute;
    display: block;
    list-style: none;
    width: 6rem;
    height: 6rem;
    background:#ffffff20;
    animation: flying 5s linear infinite;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    top: -11rem;
}
.leaves li:nth-child(1) {
    left: 88%;
    width: 8rem;
    height: 8rem;
    animation-delay: 0.6s;
}
.leaves li:nth-child(2) {
    left: 46%;
    width: 4.2rem;
    height: 4.2rem;
    animation-delay: 7.6s;
}
.leaves li:nth-child(3) {
    left: 56%;
    width: 4rem;
    height: 4rem;
    animation-delay: 4.1s;
}
.leaves li:nth-child(4) {
    left: 8%;
    width: 9rem;
    height: 9rem;
    animation-delay: 4.6s;
}
.leaves li:nth-child(5) {
    left: 34%;
    width: 4rem;
    height: 4rem;
    animation-delay: 3.3s;
}
.leaves li:nth-child(6) {
    left: 20%;
    width: 5.3rem;
    height: 5.3rem;
    animation-delay: 5.8s;
}
.leaves li:nth-child(7) {
    left: 80%;
    width: 3rem;
    height: 3rem;
    animation-delay: 8.5s;
}
.leaves li:nth-child(8) {
    left: 70%;
    width: 6rem;
    height: 6rem;
    animation-delay: 1.4s;
}
.leaves li:nth-child(9) {
    left: 4%;
    width: 3rem;
    height: 3rem;
    animation-delay: 4.2s;
}
.leaves li:nth-child(10) {
    left: 40%;
    width: 2rem;
    height: 2rem;
    animation-delay: 6.4s;
}
.cursor {
    width: 3rem;
    height: 3rem;
    border: 0 solid var(--pri-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: 66% 60%;
    pointer-events: none;
    z-index: 999;
    transition: all 0.6s ease-in-out;
    transition-property: background, transform;
    /* transition: all 0.1s ease; */
    -webkit-box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 22px 0px  var(--pri-color);
    box-shadow: 
        0px 0px 22px 0px  var(--pri-color);
    
    backdrop-filter: sepia(100%);
    /* backdrop-filter: invert(30%); */
}
/* apply to js */
.img-grow {
    transform: scale(3); 
}
/*End header*/


/*Start about*/
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
    color: var(--sec-color);
}
.about-heading h1 {
    font-size: 10rem;

    /* Green Theme */
    /* opacity: .3; */

    /* Neumorphism Theme */
    opacity: .2;
}
.about-heading h6 {
    font-family: monospace;
    color: var(--main-p-color);
    font-size: 3rem;
    font-weight: 300;
    margin-top: .45rem;
}
.profile-img {
    flex: 1;
    margin-right: 5rem;
    /* animation: pulse 2s infinite; */
    z-index: 2;
}
.profile-img img {
    transform: scale(.7);
    /*  Neumorphism Theme */
    -webkit-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
}
/* .profile-img a img:hover {
    transition: all 0.7s ease; 
    transform: scale(1.02); 
} */
.about-details {
    flex: 1;
}
.about-details p {
    font-weight: 300;
}
/* Green Theme */
/* .about-social-media img { 
    margin: 60% 1rem 0 1rem;
    width: 5rem;
} */
.about-social-media i {
    font-size: 4rem;
    transition: color 650ms;
    margin: 60% 1rem 0 1rem;
    opacity: .8;
    
    /*  Neumorphism Theme */
    -webkit-box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.1);
    box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.1);
}
.about-social-media i:hover {
    opacity: 1;
    -webkit-box-shadow: 
        0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 
        0 0 rgba(0, 0, 0, 0);
    box-shadow: 
        0 0 rgba(0, 0, 0, 0);
    transition: all 0.7s ease-in-out; 
    transform: scale(1.1);
}
.myskills-button { 
    cursor: pointer;
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    height: 4rem;
    border-radius: 40rem;
    width: 30%;
    transform: translate(0, 150%);
    background: var(--background);
    opacity: .5;

}
.myskills-button a p {
    color: var(--third-color);
    font-size: 1.5rem;
    transform: translate(0, 35%);
}
.myskills-button:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 
        0px 0px 8px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 8px 0px var(--pri-color);
    box-shadow: 
        0px 0px 8px 0px var(--pri-color);
}
.myskills-button:hover p {
    transition: all 0.3s ease-in-out;
    color: var(--pri-color);
}
/*End about*/


/*Start Specialization*/
.my-skills {
    margin-top: 10rem;
    
    /* https://hankchizljaw.com/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/ */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill:hover .icon-container {
    transition: all 2s ease; 
    transform: scale(1.05);
}
.skill h1 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 4rem -2px 2rem 0;
    color: var(--pri-color);
}
.icon-container {
    width: 14rem;
    height: 14rem;
    border: 2px solid var(--pri-color);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(0deg); 
    -webkit-box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    box-shadow: 
        0px 0px 22px 0px var(--pri-color);
}
.icon-container::after {
    position: absolute;
    content: '';
    width: 13.1rem;
    height: 13.1rem;
    border: 2px solid var(--pri-color); 
    display: flex;
    transform: rotate(45deg); 
    -webkit-box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    box-shadow: 
        0px 0px 22px 0px var(--pri-color);
    opacity: 0.8;
}
.icon-container i {
    position: relative;
    color: var(--pri-color);
    font-size: 5rem;
    margin: auto; 
}
/*End Specialization*/


/*Start portfolio*/
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0; 
}
.profile-item:last-child {
    margin-bottom: 0;
}
.portfolio-img-div {
    flex: 1;
    transition: all 2s ease; 
}
.portfolio-img-div img {
    width: 100%;

    /*  Neumorphism Theme */
    -webkit-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.5);
}
.portfolio-description {
    flex: 1;
}
.portfolio-description h1 {
    font-size: 3rem; 
    font-weight: 300;
    margin: 1rem 0;
}
.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .3;
}
.portfolio-description .cta, .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--pri-color);
    transition: color 650ms;
}
.portfolio-description .cta:hover, .cta:hover { 
    color: var(--sec-color);
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*End portfolio*/


/*Start timeline*/
.timeline {
    margin-left: 22rem;
    margin-bottom: 8rem;
}
.timeline ul {
    border-left: 4px solid var(--pri-color);
    background-color: rgba(0, 0, 0, .1);
    margin: 0 auto;
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 2rem 0 2rem 1rem;
}
.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0.3rem;
    opacity: .3;
}
.timeline p, .timeline h1 {
    transform: translateX(2.6rem);
}
.timeline .date {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
}
.timeline .date::before {
    content: attr(data-date);
    text-align: right;
    min-width: 12rem;
    font-size: 2rem;
    transform: translate(-20rem, -70%);
}
.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px var(--pri-color);
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem; 
    transform: translate(-166%, -80%);
    background-color: var(--third-color);
}
/*End timeline*/


/*Start contact*/
/* interactive anim, exp */
.contact {
    background-color: var(--third-color);

    /*  Neumorphism Theme */
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    -webkit-box-shadow: 0px 0px 69px -1rem rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 69px -1rem rgba(255,255,255,1);
    box-shadow: 0px 0px 69px -1rem rgba(255,255,255,1);
}
.info-anim {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    border-radius: 1rem;
    width: fit-content;
}
.info-anim-inner {
    cursor: pointer;
    background-color: var(--sec-color);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    clip-path: circle(10% at 10% 50%);
    transition: all .5s ease-in-out;
}
.info-anim-inner:hover {
    clip-path: circle(75%);
    background-color: var(--background);
}
.info-anim-inner span {
    float: left;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.typing-area {
    text-align: center;
    margin-top: -4rem;
}
.typing {
    display: inline-block;
    position: relative;
}
.typing::after { 
    content: "|";
    position: absolute;
    animation: caret infinite 1s steps(1, end); 
}
form {
    position: relative;
    width: 78%;
    margin: 0 auto; 
    text-align: center;
}
input, textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    outline: none;
    color: #eee;
} 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
{
    /* -webkit-text-fill-color: rgb(197, 197, 197); */
    -webkit-text-fill-color: #eee;
    -webkit-box-shadow: var(--third-color);
    transition: background-color 5000s ease-in-out 0s;
}
.name-section, .email-section, .message-section { 
    font-size: 1.8rem; 
    color: var(--sec-color);
    width: 100%;
    position: relative;
    height: 6rem;
    overflow: hidden;
    margin: 2rem auto;
}
.name-section input, .email-section input {
    width: 100%;
    height: 100%;
    padding-top: 2.6rem;
    border: none;
    background-color: var(--third-color);
}
.message-section textarea {
    width: 100%;
    height: 100%;
    padding-top: 3.6rem;
    border: none;
    background-color: var(--third-color);
}
.name-section label, .email-section label, .message-section label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--sec-color); 
}
.name-section label::after,
.email-section label::after,
.message-section label::after
{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--pri-color);
    transform: translateX(-100%);
    transition: transform .6s ease;
}
.content-name, 
.content-email, 
.content-message
{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}
.email-section input[value=""] {
    border: none;
    outline: none;
}

.name-section input:focus + .label-name .content-name, 
.name-section input:valid + .label-name .content-name,
.email-section input:focus + .label-email .content-email, 
.email-section input:valid + .label-email .content-email,
.email-section input:placeholder-shown + .label-email .content-email,
.message-section textarea:focus + .label-message .content-message, 
.message-section textarea:valid + .label-message .content-message
{
    transform: translateY(-100%);
    color: var(--pri-color);
}
.name-section input:focus + .label-name::after,
.name-section input:valid + .label-name::after,
.email-section input:focus + .label-email::after,
.email-section input:valid + .label-email::after,
.message-section textarea:focus + .label-message::after,
.message-section textarea:valid + .label-message::after 
{
    transform: translateX(0%);
    color: var(--pri-color);
}

input.contact-submit-btn {
    margin-top: 6rem;
    font-size: 1.6rem;
    width: initial;
    color: var(--main-p-color);
    background-color: var(--third-color);
    padding: 0.8rem 3rem;
    border: none;
    border-radius: .9rem;
    cursor: pointer;

    /* Neumorphism pulse */
    -webkit-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    box-shadow: 
        0px 0px 10px 0px var(--pri-color);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

input.contact-submit-btn:hover {
    color: var(--sec-color);
    /* background-color: var(--pri-color); */

    transform: scale(.99);
    /* animation: press .3s; */
    
    /* stop at last frame */
    /* animation-fill-mode: forwards;  */

    
    /* Neumorphism pulse */
    -webkit-box-shadow: 
        0px 0px 18px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 18px 0px var(--pri-color);
    box-shadow: 
        0px 0px 18px 0px var(--sec-color);
}
ul.contact-social-media-ul {
    margin: 0 auto 2% auto; /* here */
}
ul.contact-social-media-ul li a { 
    color: var(--pri-color);
}
.contact-social-media {
    margin-top: 5rem;
}
.contact-social-media i {
    font-size: 4rem;
    transition: color 650ms;
    margin: 0 1rem;
    
    /*  Neumorphism Theme */
    -webkit-box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.2);
    box-shadow: 
        0px 0px 32px 10px rgba(0,0,0,0.2);
}
.fa-github-square:hover {
    color: #211F1F;
}
.fa-linkedin:hover {
    color: #0e76a8 ;
}
.fa-youtube-square:hover {
    color: #c4302b ;
}
.fa-facebook-square:hover {
    color: #4267B2;
}
.fa-envelope:hover {
    color: #D92F25 ;
}
.fa-soundcloud:hover {
    color: #ff7700 ;
}
/*End contact*/


/*Start footer*/
.main-footer {
    width: 100%;
    text-align: center;
    background-color: var(--third-color);
    padding: .5% 0 4rem 0;
    position: relative;
}
.up {
    position: fixed;
    height: 5rem;
    width: 5rem;
    background-color: var(--pri-color);
    top: 89vh;
    right: 3%;
    border-radius: 100%;
    display: none;
    cursor: pointer;
    /* animation: pulse 2s infinite; */
    z-index: 500;        
    
    /*  Neumorphism Theme */
    -webkit-box-shadow: 
        0px 0px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 
        0px 0px 20px -1px rgba(0,0,0,0.4);
    box-shadow: 
        0px 0px 20px -1px rgba(0,0,0,0.4);
}
.up:hover {
    transform: scale(.95); 
    /* Neumorphism */
    -webkit-box-shadow: 
        0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 
        0px 0px 20px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 
        0px 0px 20px 0px rgba(255, 255, 255, 0.6);

    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.up i {
    color: var(--third-color);
    font-size: 2rem;
    margin: 1.3rem auto;
}
.main-footer p {
    letter-spacing: 0.6px;
    font-size: 1.2rem;
}
.visitcount {
    top: 0;
    margin-top: 1rem;
    transform: translate(0, 1%);
    pointer-events: none;
    display: none;
}
/*End footer*/




/*Start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--pri-color);
    }
    50% {
        box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes press {
    0% {
        /* Neumorphism */
        -webkit-box-shadow: 
            inset 0px 0px 0px 0px var(--pri-color);
        -moz-box-shadow: 
            inset 0px 0px 0px 0px var(--pri-color);
        box-shadow: 
            inset 0px 0px 0px 0px var(--pri-color);
    }
    100% {
        /* Neumorphism */
        -webkit-box-shadow: 
            inset 0px 0px 9px 0px var(--pri-color);
        -moz-box-shadow: 
            inset 0px 0px 9px 0px var(--pri-color);
        box-shadow: 
            inset 0px 0px 9px 0px var(--pri-color);
    }
}

@-webkit-keyframes preload-anim {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
  @keyframes preload-anim {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
  
@keyframes flying {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    20% {
        transform: translateY(20vh) rotate(90deg);
        opacity: 0.8;
    }
    60% {
        transform: translateY(60vh) rotate(-45deg);
        opacity: 0.4;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
        /* opacity: 1; */
        stroke-dashoffset: 0;
    }
}
@keyframes line-anime { 
    100% { 
        /* opacity: 1; */ 
        stroke-dashoffset: 0; 
    } 
}
@keyframes line-anime-skills {
    0% {
        fill: rgba(250, 250, 250, 0);
    }
    75% {
        transition: fill .6s ease-in-out;
        fill: rgba(250, 250, 250, 0);
    }
    100% {
        fill: var(--pri-color);
        stroke-dashoffset: 0;
    }
}
@keyframes box-rotate {
    0% {
        transform: rotateY(0);
    }    
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes fan {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes caret {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
/* mouse scrolling anim */
@-webkit-keyframes mouse-scroll-anim {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
@keyframes mouse-scroll-anim {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
/* mobile menu bar background mover */
@keyframes mobile-bar-bg-mover {
    0% {
        background-position: 0% 30%;
    }
    50% {
        background-position: 100% 30%;
    }
    100% {
        background-position: 0% 30%;
    }
}
/*End animations*/

/* ------------------------------------------------------------------------------- */

/*Start media queries*/
@media all and (max-width: 1440px) {
    /* action buttons */
    .action-1 p, .action-2 p, .action-3 p {
        transform: translateY(.3rem);
    }

}
@media all and (max-width: 1281px) {    
    .loading-leave {
        /* width: 9rem;
        height: 9rem; */
        top: 36%;
        left: 47%;
    }
    .landing-text h6 { 
        font-size: 1.8rem;
        transform: translateY(10rem);
    }
    .nav-link {
        font-size: 1.8em; 
        padding: 1.2rem;
    }
}
@media all and (max-width: 1024px) { 
    /* action buttons */   
    .action-btn {
        width: 14%;
        border-radius: 3rem;
    }
    .profile-img img {
        transform: scale(1.06);
    }    
    .timeline p, .timeline h1 {
        transform: translateX(1.2rem);
    }
    .timeline .date::before {
        transform: translate(-140%, -70%);
    }
    .timeline .date::after {
        transform: translate(-159%, -70%);   
    }
    .main-footer {
        padding-bottom: 5rem;
    }
}
/* tablet */
@media all and (max-width: 801px) {
    .about-section {
        height: auto;
    }
    .one-page-container {
        transform: translateY(0rem);
    }
    .loading-leave {
        width: 9rem;
        height: 9rem;
        top: 36%;
        left: 45%;
    }
    #svg-loading {
        width: 16%;
    }
    .cursor {
        display: none;   
    }
    .landing-text h6 {  
        font-size: 1.5rem;
        transform: translateY(8rem);
    }
    .hide {
        opacity: 1;
    }
    .nav-logo {
        display: none;
    }
    .top-nav {
        height: 100vh;
        right: -100vw;
        background: var(--mobile-bar-bg);
        /* border-bottom-left-radius: 100%; */
        /* transition: all 800ms cubic-bezier(1, 0, 0, 1); */
        opacity: 0;
        background-size: 200% 200%;
	    animation: mobile-bar-bg-mover 10s ease infinite;
    }
    .nav-link {
        color: var(--pri-color);

    }
    .nav-list p.designedby {
        font-size: 1.1rem;
        display: block;
    }
    .nav-link-container { 
        flex-direction: column;
    }
    .nav-list p {
        font-size: 1.2rem;
    }
    li {
        margin: 2rem 0;
    }
    .nav-link {
        font-size: 1.8rem;
        letter-spacing: .1rem;
    }
    #_progress {
        display: none;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .myskills-button { 
        width: 40%;
        opacity: .7;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .section-heading h6 {
        /* margin-top: 1.1rem; */
        font-size: 1.6rem;
    }
    .about-heading h6 {
        margin-top: .3rem;
    }
    .about-details .nav-list {
        flex-direction: row;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .icon-container i {
        font-size: 3.5rem;
    }
    /* this is the second item  */
    .portfolio-description.has-margin-right { 
        text-align: left;
    }
    .timeline p, .timeline h1 {
        transform: translateX(0);
        width: 95%;
    }
    .timeline ul {        
        /* padding: 2rem 0 2rem 1rem; */
        padding: 1rem 0 3rem 4.3rem;
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        transform: translate(-22rem, -100%);
    }
    .timeline .date::after {
        transform: translate(-355%, -110%); 
    }
    .emailme a {
        font-size: 18rem;
    }
    .main-footer {
        padding-bottom: 6.6rem;
    }
    ul.contact-social-media-ul {
        text-align: center;
        display: table; 
    }
    ul.contact-social-media-ul li {
        display: inline-block; 
    }
    ul.contact-social-media-ul li a {
        margin: 0 2rem;
    }

    /* need to move to the correct css */
    .back a img { 
        top: 2.5rem;  
    }

    .rotating-box { 
        margin: auto;
        margin-top: -6rem;
    }
    .more-button {
        stroke-dasharray: 8;
        stroke-dashoffset: 555;
        animation: line-anime 8s ease forwards;
        transform: translate(-50%, 500%);
    }
    .more-button a p {
        font-size: 1.5rem;
        bottom: 0;
        padding: 2rem;
        left: 2rem;
        z-index: 2;
    }
    .more-button #arrow-svg {
        transform: scale(1.2);
    }
    .content-carrousel {
        animation: fan 40s infinite linear;
    }
    .content-carrousel:hover {
        /* animation-play-state: paused; */
        cursor: pointer;
    }
    .content-carrousel figure img {
        margin-top: 0.2rem;
        width: 8rem;
        height: 8rem;
    }
    .content-carrousel figure svg {
        width: 11rem;
        height: 11rem;
        left: 50%;
        transform: translate(-50%, -11%);
    }
    .content-carrousel figure p {
        z-index: 3;
        position: absolute;
        color: var(--pri-color);
        font-size: 2rem;
        transform: translate(80%, 400%);
    }
    .content-carrousel figure p .first-p { 
        margin-left: 0rem;
    }
    .content-carrousel figure p .sec-p { 
        margin-left: -1.1rem;
    }
    .content-carrousel figure p .third-p { 
        margin-left: -1rem;
    }
    .content-carrousel figure:nth-child(1) {
        transform: rotateY(0deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(2) {
        transform: rotateY(36deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(3) {
        transform: rotateY(72deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(4) {
        transform: rotateY(108deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(5) {
        transform: rotateY(144deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(6) {
        transform: rotateY(180deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(7) {
        transform: rotateY(216deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(8) {
        transform: rotateY(252deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(9) {
        transform: rotateY(288deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(10) {
        transform: rotateY(324deg) translateZ(30rem);
    }

}

/* mobile */
@media all and (max-width: 600px) {
    .loading-leave {
        width: 6rem;
        height: 6rem;
        top: 40%;
        left: 43%;
    }
    .landing-text h6 {  
        /* font-size: 1.5rem; */
        transform: translateY(5rem);
    }

    /* action buttons */
    .landing-action {
        transform: translateY(300%);
    }
    .action-btn {
        width: 26%;
        border-radius: 2rem;
        margin: 1%;
    }
    .action-btn p {
        transform: translateY(.63rem);
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }    

    #svg-loading {
        width: 26%;
        transform: translate(-50%, -25%);
    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        word-spacing: 0;
        letter-spacing: 0; 
    }
    .bar {
        height: 2px;
    }
    .menu-toggler {
        top: 2rem;
        right: 2rem;  
        width: 3rem;
        height: 2rem; 
    }
    .nav-list p {
        font-size: 1.1rem;
    }
    .section-heading h6 {
        font-size: 1.4rem;
    }
    .section-heading h6::after {
        bottom: -.5rem;
    }
    .landing-text h6 {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 1.2rem;
        padding: 5% 1rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .about-details p {
        text-align: center;
        line-height: 1.6;
        padding: 0 auto;
    }
    .about-social-media i {
        /* margin-top: 100%; */
        margin: 100% 0 0 0;
        /* width: 4rem; */
    }
    .myskills-button {
        opacity: .8;
        transform: translate(0, 80%);
    }
    
    /* specialization */
    .icon-container i { 
        font-size: 4.5rem; 
    }
    .has-margin-right {
        margin-right: 0;
        text-align: left;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
    .portfolio-description .cta { 
        margin-bottom: 2rem;
    }
    .timeline {
        margin: 0;
        padding: 0; 
        margin-left: 12rem;
    }
    .timeline ul {
        padding: 0 auto;
        margin: 0 auto;
    }
    .timeline p { 
        font-size: 1.4rem;
    }
    .timeline p, .timeline h1 {
        /* margin-left: -2.2rem; */
        transform: translateX(-2.4rem);
    }
    .timeline .date::before {
        font-size: 1.6rem; 
        transform: translate(-19rem, -110%);
    }
    .timeline .date::after {
        /* transform: translateX(-355%);  */
    }
    .contact {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    form {
        width: 100%;
    }
    .contact-social-media i {
        font-size: 3rem;
        margin: 0 -0.6rem;
    }
    .up {
        height: 4rem;
        width: 4rem;
        top: 91vh;
        right: 5vw;
    }
    .up i {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    /* need to move to the correct css */
    .back a img {
        height: 2.3rem;
        width: 2.5rem;
        top: 2rem;
        left: 0.6rem;  
    }

    
    .rotating-box {
        width: 20rem;
        height: 20rem;
        margin: auto;
        margin-top: -7rem;
    }
    .single-rb img {
        width: 20rem;
        height: 20rem;
    } 
    .font-side {
        transform: translateZ(10rem);
    }
    .back-side {
        transform: rotateY(180deg) translateZ(10rem);
    }
    .left-side {
        transform: rotateY(-90deg) translateX(-10rem);
        transform-origin: left;
    }
    .right-side {
        transform: rotateY(90deg) translateX(10rem);
        transform-origin: right;
    }
    .top-side {
        transform: rotateX(-90deg) translateY(-10rem);
        transform-origin: top;
    }
    .bottom-side {
        transform: rotateX(90deg) translateY(10rem);
        transform-origin: bottom;
    }
    .more-button {
        stroke-dasharray: 8;
        stroke-dashoffset: 700;
        animation: line-anime 8s ease forwards;
        transform: translate(-50%, 350%);
    }
    .more-button a p {
        font-size: 1.2rem;
        bottom: 0.3rem;
        padding: 2rem;
        left: 3.5rem;
    }
    .more-button #arrow-svg {
        transform: scale(0.9);
    }


}

@media all and (max-width: 321px) {

}
/*End media queries*/