// Used for click event
#about,
#specialisation {
    // scroll-margin-top: -2rem;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: unset; // Previously was 80vw
    height: 100vh;

    padding: 0 20vw;

    // background: url("../images/4.jpg") no-repeat center fixed;
    background: url("https://cdn.discordapp.com/attachments/759968307738181653/822710501795954738/mmexport1579951996076.jpg") no-repeat center fixed;
    box-shadow: inset 0 0 100vw 100vh #1e162950;
    background-size: cover !important; // TODO: Uncomment this
    // border-radius: 10rem;

    @media all and (max-width: $screen_sm) {
        flex-direction: column;

        &.about-section {
            height: auto;
        }
    }
}

/* .profile-img a img:hover {
    transition: all 0.7s ease;
    transform: scale(1.02);
} */

.about-details {
    // flex: 1;

    .about-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 6rem;
        color: $theme-color;

        h1 {
            z-index: -1;
            font-size: 28rem;
            /* Neumorphism Theme */
            // TODO:  make the color like the curse
            color: $theme-h1-color;

            // https://stackoverflow.com/questions/58133329/how-to-use-css-backdrop-filter-on-text
            // backdrop-filter: grayscale(1);

            @media all and (max-width: $screen_md_1) {
                font-size: 8rem;
            }
        }

        h6 {
            z-index: 1 !important;
            font-family: monospace;
            color: $theme-font-color;
            font-size: 4rem;
            font-weight: 300;
            margin-top: .45rem;

            @media all and (max-width: $screen_md_2) {
                font-size: 3rem;
                margin-top: .3rem;
            }
        }
    }

    // TODO: NEED TO DOUBLE CHECK
    @media all and (max-width: $screen_md_2) {
        .nav-list {
            flex-direction: row;
        }

        li {
            margin: 0 2rem;
        }
    }

    p {
        text-align: justify;
        font-weight: 300;

        @media all and (max-width: $screen_sm) {
            padding: 0 2rem;
            line-height: 1.6;
            padding: 0 auto;
        }
    }

    /* Green Theme */
    /* .about-social-media img {
    margin: 60% 1rem 0 1rem;
    width: 5rem;
    } */

    .about-social-media {

        i {
            font-size: 3rem;
            transition: color .2s;
            margin: 60% 1rem 0 1rem;
            opacity: .6;
            color: $media-icon-color;

            // /*  Neumorphism Theme */
            // box-shadow: $neumorphism-box-shadow;

            @media all and (max-width: $screen_sm) {
                /* margin-top: 100%; */
                margin: 100% 0 0 0;
                /* width: 4rem; */
            }
        }

        i:hover {
            opacity: 1;
            transition: all 0.7s ease-in-out;
        }
    }

}

/*
.myskills-button {
    cursor: pointer;
    text-align: center;
    bottom: 0;
    margin: 0 auto;
    height: 4rem;
    border-radius: 40rem;
    width: 30%;
    transform: translate(0, 150%);
    background: $theme-background;
    opacity: .5;

    @media all and (max-width: $screen_md_2) {
        width: 40%;
        opacity: .7;
    }

    @media all and (max-width: $screen_sm) {
        opacity: .8;
        transform: translate(0, 80%);
    }
}

.myskills-button a p {
    color: $theme-dark-color;
    font-size: 1.5rem;
    transform: translate(0, 35%);
}

.myskills-button:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    // -webkit-box-shadow:
    //     0px 0px 8px 0px var(--pri-color);
    // -moz-box-shadow:
    //     0px 0px 8px 0px var(--pri-color);
    box-shadow:
        0px 0px 8px 0px $theme-light-color;
}

.myskills-button:hover p {
    transition: all 0.3s ease-in-out;
    color: $theme-light-color;
}
*/
