/*Start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 $theme-light-color;
    }

    50% {
        box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes press {
    0% {
        /* Neumorphism */
        box-shadow:
            inset 0px 0px 0px 0px $theme-light-color;
    }

    100% {
        /* Neumorphism */
        box-shadow:
            inset 0px 0px 9px 0px $theme-light-color;
    }
}

@-webkit-keyframes preload-anim {
    0% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }

    50% {
        -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }

    100% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
}

@keyframes preload-anim {
    0% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }

    50% {
        -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }

    100% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
}

@keyframes flying {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    20% {
        transform: translateY(20vh) rotate(90deg);
        opacity: 0.8;
    }

    60% {
        transform: translateY(60vh) rotate(-45deg);
        opacity: 0.4;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
        /* opacity: 1; */
        stroke-dashoffset: 0;
    }
}

@keyframes line-anime {
    100% {
        /* opacity: 1; */
        stroke-dashoffset: 0;
    }
}

@keyframes line-anime-skills {
    0% {
        fill: rgba(250, 250, 250, 0);
    }

    75% {
        transition: fill .6s ease-in-out;
        fill: rgba(250, 250, 250, 0);
    }

    100% {
        fill: $theme-light-color;
        stroke-dashoffset: 0;
    }
}

@keyframes box-rotate {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes fan {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes caret {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* mouse scrolling anim */
@-webkit-keyframes mouse-scroll-anim {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mouse-scroll-anim {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* mobile menu bar background mover */
@keyframes mobile-bar-bg-mover {
    0% {
        background-position: 0% 30%;
    }

    50% {
        background-position: 100% 30%;
    }

    100% {
        background-position: 0% 30%;
    }
}

/*End animations*/