/* Interest page  */
#interest-header,
section {
    /* scroll-snap-align: start; */
    /* background-color: #fff; */
}

body.interest-body {
    /* scroll-snap-align: start; */

    /* for loading too long */
    background-color: #131218;
    /*  Neumorphism Theme */
    /* background: var(--background); */
}

/* Start interest page */
.svg-beatbox-container p {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#svg-beatbox {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100em;

    // small laptop
    @media all and (max-width: $screen_md_1) {
        width: 70em;
    }

    // tablet
    @media all and (max-width: $screen_sm) {
        width: 40em;
    }

    // mobile 
    @media all and (max-width: $screen_xs) {
        width: 30em;
    }

    @media all and (max-width: $screen_xxs) {
        width: 26em;
    }

    path {
        animation: line-anime 4s ease forwards .6s;
    }

}

/* Start beatbox body */
.beatbox {
    height: 100vh;
}

.countdown {
    transition: all 1s;
    font-size: 2.6rem;
}

/* Start ytbg */
.example-marquee {
    position: relative;
}

.content {
    display: table;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: relative;
}

.content .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.content .inner h1 {
    font-size: 62px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.video-background-controls button {
    font-size: 32px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    line-height: 32px;
    border: none;
    background: none;
    -webkit-appearance: none;
    color: white;
    filter: drop-shadow(0px 0px 1px black);
    cursor: pointer;
    opacity: 1;
    transition: all 250ms ease-in-out;
    margin-left: 10px;
}

.video-background-controls button:hover {
    opacity: 0.5;
}

iframe {
    transition: opacity 500ms ease-in-out;
    transition-delay: 250ms;
}

/* End ytbg */

/* End beatbox body */

/* End interest page */

@media screen and (max-width: 600px) {

    .countdown {
        font-size: 2rem;
    }
}


/* main page  */