/*
GitHub: @enkr1, Instagram: @enkr1
*/

// Variables
@import "_variables";

// Global and reusable
@import "_animations";
@import "_global";

// Sections
@import "_preload";
@import "_header";
@import "_home";
@import "_about";
@import "_specialisation";
@import "_experience";
@import "_portfolio";
@import "_contact";
@import "_footer";
@import "_interest";
@import "_bbx-achievements";

// ...
